.custom-card {
    height: 475px; /* Set the desired height here */
    position: relative;
}

.custom-card .card-img-top {
    height: auto;
    width: 100%;
    object-fit: cover; /* Ensure the image fills the card */
}

.check-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4E6EBE;
    color: white;
    border: none;
}

.movienext {
    font-family: 'Montserrat-Alt1';
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    letter-spacing: -0.01em;
    color: white;
}


body{
    background-color: #343434;
}

.navbar-brand{
   width: 20px;
   height: fit-content;
   margin-left: 20px;
}

.navbar{
    background-color: #4e6ebe;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
.desc {
    flex: 1; /* Mengisi sisa ruang kosong untuk elemen desc */
}
  
.btn{
    background-color: transparent;
    color: white;
}

.a{
    color: white;
    font-size: 40px;
    margin-top: 40px;
}

.film{
    margin-left: 10px;
    margin-top: 35px;
    width: 200px;
    height: 300px;
}

.ratestar{
    color: white;
    margin-left: 115px;
    margin-top: 175px;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start;
}

.rate{
    flex-direction: row-reverse;
    display: flex;
    padding-right: 200px; 
}

.desc{
    color: white;
    margin-left: 150px;
    text-align: justify;
    margin-top: 35px;
}

.card{
    border-radius: 18px;
    margin-top: 35px;
    background-color: #4e6ebe;
    margin-right: 50px;
}

.card-text{
    color: white;
    text-align: justify;
}

.form-control{
    background-color: #5D5D5D;
    height: 100px;
    margin-bottom: 50px;
}

form {
    max-width: 400px;
    background-color: #5D5D5D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.reg-form-control {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-label {
    font-weight: bold;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-label {
    color: white;
    margin-bottom: 50px;
}

.regis-btn {
    background-color: #4E6EBE;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 7px; /* Set border radius for rounded edges */
    padding: 10px 150px; /* Adjust padding for button size */
    cursor: pointer; /* Add cursor pointer for usability */
    text-decoration: none; 
    display: inline-block; 
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-container {
    height: 100px;
    width: 500px;
    padding-top: 20px;
}

.rate input[type="radio"],
.rate label {
    margin-right: 5px; /* Adds space between radio buttons and labels */
}

.rate:not(:checked) > input {
    position:absolute;
    display: none;
}

.rate:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
    
.rated:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
    
.rate:not(:checked) > label:before {
    content: '★ ';
}
    
.rate > input:checked ~ label {
    color: #FFC30B;
}
    
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FFC30B;
}
    
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #FFC30B;
}
    
.star-rating-complete{
       color: #FFC30B;
}
    
.rating-container .form-control:hover, .rating-container .form-control:focus{
    background: #fff;
    border: 1px solid #ced4da;
}
    
.rating-container textarea:focus, .rating-container input:focus {
    color: #000;
}
    
.rated {
    float: left;
    height: 46px;
    padding: 0 10px;
}
    
.rated:not(:checked) > input {
    position:absolute;
    display: none;
}
    
.rated:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#FFC30B;
}
    
.rated:not(:checked) > label:before {
    content: '★ ';
}
    
.rated > input:checked ~ label {
    color: #FFC30B;
}
    
.rated:not(:checked) > label:hover,
.rated:not(:checked) > label:hover ~ label {
    color: #FFC30B;
}
    
.rated > input:checked + label:hover,
.rated > input:checked + label:hover ~ label,
.rated > input:checked ~ label:hover,
.rated > input:checked ~ label:hover ~ label,
.rated > label:hover ~ input:checked ~ label {
    color: #FFC30B;
}

.submit-btn {
    background-color: #4E6EBE;
    color: white;
    border-radius: 7px; 
    padding: 10px 60px; 
    cursor: pointer; 
    text-decoration: none; 
    display: inline-block; 
    margin-left: 70px;
    margin-bottom: 25px;
}

.link {
    color: white; 
    display: inline; 
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 750px;
}

.container img{
    width: 100%;
    height: 100%;
}

#overlay-image {
    position: absolute;
    top: 34%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    max-height: 100%;
} 

#overlay-image2 {
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    max-height: 100%;
}

#myButton {
    position: absolute;
    top: 59%; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-weight: bold;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    
}

.containerbg {
    position: fixed;
}
